---
import PrizesSection from "./PrizesSection";
import {
  mainPrizes,
  trackAwards,
  prizePoolGrandTotalNPR,
  top10TeamsTeaser,
  prizeCeremonyNote,
} from "../../data/prizes";
---

<section id="prizes" class="bg-slate-50 dark:bg-dark-surface py-20 md:py-24 transition-colors duration-300">
  <PrizesSection
    client:load
    mainPrizes={mainPrizes}
    trackAwards={trackAwards}
    totalPrizePool={prizePoolGrandTotalNPR}
    top10TeamsTeaser={top10TeamsTeaser}
    prizeCeremonyNote={prizeCeremonyNote}
  />
</section>
